<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">
                XYZ
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/reviews">Reviews</a></li>
                <li><a href="/admin/employee">Employees</a></li>
            </ul>
        </div>
    
    </div>
    </nav>
    